@import 'src/dashboard-theme.scss';
@mixin dashboard-theme($theme) {
    $primary: map-get($map: $theme, $key: primary);
    $accent: map-get($map: $theme, $key: accent);
    $warn: map-get($map: $theme, $key: warn);
}

/* HEADER */

.header {
    padding: 10px;
    background-color: $primary;
    color: white;
    text-align: left;
}

.header h1 {
    font-size: 25px;
}

/* CARD */

.picard {
    max-width: 810px;
    // display: flex;
    // justify-content: center;
}